*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html {
    width: 100%;
    height: 100%;
    display: table;
}

body {
    width: 100%;
    display: table-cell;
}

html,
body {
    margin: 0;
    padding: 0;
}
.splide{
    width: 50vw;

}
.splide2 {
    display: table;
    width: 100vw;
    min-height: 100vh;
    background-color: blue;
   
}
.test-image{
    display: table-cell;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}