@font-face {
  font-family: "Orator";
  src: url("./src/fonts/OratorStd.otf") format("opentype");
}
body {
  background: white;
  height: 100%;
  background-color: #2c2a2b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
