.wrapper {
  width: 100vw;
  position: fixed;
  z-index: 4;
}
.container {
  display: flex;
  justify-content: space-between;

  font-family: "Orator";
  padding: 20px 40px;

  font-weight: 100;

  .left-container {
    display: flex;
    font-size: 20px;

    letter-spacing: 2px;
    text-transform: uppercase;
    align-items: center;
    color: white;
    gap: 9px;
  }
  .logo-container {
    width: 150px;
    height: auto;
    .logo {
      object-fit: cover;
      height: auto;
      width: 100%;
    }
  }
}
.menu-label {
  cursor: pointer;
}
